{% extends 'base.html.twig' %}

{% block title %}Localux{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ asset('styles/reservation.css')}}">
    <ul class="cards">
    {% for uneFormule in lesFormules %}
  <li>
    <a href="{{path('reservationSelect',{'idFormule':uneFormule.id})}}" class="card">
    <img src="{{uneFormule.image}}" class="card__image" alt="" />
      <div class="card__overlay">
        <div class="card__header">  
          <div class="card__header-text">
            <h3 class="card__title">{{uneFormule.libelle}}</h3>            
          </div>
        </div>
        <p class="card__description">{{uneFormule.idTarification.tarif}} €</p>
        <p class="card__description"></p>
      </div>
    </a>      
  </li>
  {% endfor %}
</ul>
{% endblock %}
